<div [ngClass]="{'card': true, 'col-12': true, 'row': true }" style="z-index: 20">
	<br>
	<h1>The 5 min journal!</h1>
	<br>

	<div [ngClass]="{'card': true, 'col-12': true}">
		<br>
		<div class=col-12>

			<div class=row>
				<div class="col-4">
					<h2 class="row" style="top: 20px">Every Morning</h2>
					<span class="row">I am grateful for ...</span>
				</div>
				<textarea style="width: 100%;" class="col" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"></textarea>
			</div>

		</div>
		<br>
		<div class=col-12>

			<div class=row>
				<div class="col-4">
					<span class="row">What would make today great?</span>
				</div>
				<textarea style="width: 100%;" class="col" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"></textarea>
			</div>

		</div>
		<br>
		<div class=col-12>

			<div class=row>
				<div class="col-4">
					<span class="row">Daily affirmations.</span>
				</div>
				<textarea style="width: 100%;" class="col" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
				 placeholder="I am..."></textarea>
			</div>

		</div>
		<br>
		<div class=col-12>

			<div class=row>
				<div class="col-4">
					<h2 class="row" style="top: 20px">Every Evening</h2>
					<span class="row">3 Amazing things that happened today...</span>
				</div>
				<textarea style="width: 100%;" class="col" placeholder="1. 2. 3." cdkTextareaAutosize #autosize="cdkTextareaAutosize"
				 cdkAutosizeMinRows="4"></textarea>
			</div>

		</div>
		<br>
		<div class=col-12>

			<div class=row>
				<div class="col-4">
					<span class="row">How could I have made my day better?</span>
				</div>
				<textarea style="width: 100%;" class="col" placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
				 cdkAutosizeMinRows="4"></textarea>
			</div>

		</div>
		<br>

		<button type="submit" class="btn">Add record!</button>

		<br>
		<br>
	</div>
</div>
<div id=sp-50></div>
