<div *ngIf="displayAddNewGoalForm" id="overlay">
	<div id=sp></div>
	<div id=sp-50></div>
	<app-goal-form></app-goal-form>
	<button mat-raised-button color="warn" (click)="displayAddNewGoalForm = false" style="width: 80%; margin: 0px 0px 0px 10%">Close</button>
	<div id=sp></div>
	<div id=sp-50></div>
</div>

<div id="sp"></div>
<div class="card">
	<div class="zoom" (click)="displayAddNewGoalForm = !displayAddNewGoalForm;">
		<a class="icon">
			<i class="material-icons md-36">add_circle_outline</i>
		</a>
	</div>
</div>

<div id="sp-10"></div>

<div *ngIf="goals">
	<div *ngFor="let goal of goals">
		<div class="card" *ngIf="!goal.goal.parent_goal_id" style="background: transparent;">

			<div class=row>
				<button mat-raised-button [ngClass]="{'col': true, 'collapsible': true, 'goal': goal.children.length > 0, 'com': goal.isComplete()}"
				 (click)="goal.collapse = !goal.collapse"> {{goal.goal.goal_title}}</button>
				<button class="col-1" mat-icon-button color="warn" (click)="goal.completed = !goal.completed">
					<mat-icon>check_box</mat-icon>
				</button>
			</div>

			<div *ngIf="goal.collapse">

				<div class=row *ngFor="let com of goal.children">
					<button mat-raised-button [ngClass]="{'col': true, 'collapsible': true, 'goal': goal?.children.length > 0, 'com': goal?.isComplete()}"
					 (click)="goal.collapse = !goal.collapse">{{com.goal.goal_title}}</button>
					<button class="col-1" mat-icon-button color="warn">
						<mat-icon>check_box</mat-icon>
					</button>
				</div>

			</div>


		</div>
		<div id="sp" *ngIf="!goal.goal.parent_goal_id"></div>
	</div>
</div>
<div id="sp-50"></div>