<div [ngClass]="{'card': innerWidth > 750}" *ngIf="displayAddNewGoalForm">
	<div id=sp-50></div>
	<button [ngClass]="{'eft': innerWidth < 750}" mat-raised-button color="warn" (click)="displayAddNewGoalForm = false">Close</button>
	<app-goal-form></app-goal-form>
	<div id=sp></div>
</div>

<div id="sp"></div>
<div class="card">
	<div class="zoom" (click)="displayAddNewGoalForm = !displayAddNewGoalForm;">
		<a class="icon">
			<i class="material-icons md-36">add_circle_outline</i>
		</a>
	</div>
</div>

<div id="sp-10"></div>

<div *ngIf="goals">
	<div *ngFor="let goal of goals">
		<div class="card" *ngIf="!goal.goal.parent_goal_id">
			<button [ngClass]="'collapsible'" (click)="goal.collapse = !goal.collapse"> {{goal.goal.goal_title}}</button>
			<div *ngIf="goal.collapse">
				<p *ngFor="let com of getComFromId(goal.goal.goal_id)">
					{{com.goal.goal_title}}
				</p>
			</div>
		</div>
		<div id="sp" *ngIf="!goal.goal.parent_goal_id"></div>
	</div>
</div>