<mat-card class=card>
	<mat-card-title>
		Check-in!
	</mat-card-title>
	<mat-card-subtitle>
	</mat-card-subtitle>
	Please answer as much as you can!
</mat-card>

<div id="sp-10"></div>

<mat-card class=card>
	<mat-card-title>
		Section 1
	</mat-card-title>
	<mat-card-subtitle>
		Quick summary about yourself
	</mat-card-subtitle>
	<mat-form-field>
		How has your mood been these past 24hrs?
		<input matInput #q1 [ngModel]="q1.value" (ngModelChange)="answers.q1 = q1.value">
	</mat-form-field>
	<br>
	<mat-form-field>
		What do think of your physical condition?
		<input matInput #q2 [ngModel]="q2.value" (ngModelChange)="answers.q2 = q2.value">
	</mat-form-field>
	<br>
	<mat-form-field>
		Core Energy State
		<select matNativeControl required #q3 (click)="answers.q3 = q3.options[q3.selectedIndex].text">
			<option value="Joy">Joy</option>
			<option value="Anger">Anger</option>
			<option value="Sadness">Sadness</option>
		</select>
	</mat-form-field>
	<br>
	"I forgot what this one was"
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q4 [ngModel]="q4.value" (ngModelChange)="answers.q4 = q4.value"></mat-slider>
	<br>
	"Happy to be me"
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q5 [ngModel]="q5.value" (ngModelChange)="answers.q5 = q5.value"></mat-slider>
	<br>
	Heart connection:
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q6 [ngModel]="q6.value" (ngModelChange)="answers.q6 = q6.value"></mat-slider>
</mat-card>

<div id="sp-10"></div>

<mat-card class=card>
	<mat-card-title>
		Section 2
	</mat-card-title>
	<br>
	<mat-card-subtitle>
		Assignment & Commitments Integrity Check
	</mat-card-subtitle>
	Commitments:
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q7 [ngModel]="q7.value" (ngModelChange)="answers.q7 = q7.value"></mat-slider>
	<br>
	Creation Question:
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q8 [ngModel]="q8.value" (ngModelChange)="answers.q8 = q8.value"></mat-slider>
	<br>
	Mind Support:
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q9 [ngModel]="q9.value" (ngModelChange)="answers.q9 = q9.value"></mat-slider>
	<br>
	Body's Support:
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q10 [ngModel]="q10.value" (ngModelChange)="answers.q10 = q10.value"></mat-slider>
	<br>
	Top Priority:
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q11 [ngModel]="q11.value" (ngModelChange)="answers.q11 = q11.value"></mat-slider>
	<br>
	Personal Promise:
	<mat-slider thumbLabel tickInterval="1000" min="0" max="100"
	#q12 [ngModel]="q12.value" (ngModelChange)="answers.q12 = q12.value"></mat-slider>
	<br>
</mat-card>

<div id="sp-10"></div>

<mat-card class=card>
	<mat-card-title>
		Section 3
	</mat-card-title>
	<mat-card-subtitle>
		What is important to share?
		<br>
		What opened up?(since the last session)
	</mat-card-subtitle>
	<textarea placeholder="A." #q13 (keyup)="answers.q13 = q13.value"></textarea>
	<textarea placeholder="B." #q14 (keyup)="answers.q14 = q14.value"></textarea>
	<textarea placeholder="C." #q15 (keyup)="answers.q15 = q15.value"></textarea>

	<mat-checkbox (click)="acdisplay = !acdisplay">AC Module Introduced?</mat-checkbox>
	<div id="sp-10"></div>
	<div *ngIf='acdisplay'>
		<mat-form-field>
			<input matInput placeholder="AC Module Introduced:" style="display: block;"
			#q16 (keyup)="answers.q16 = q16.value">
		</mat-form-field>
	</div>
	<br>
	<div class=card>
		<br>
		What shift in consciousness would you like to create?
		<textarea placeholder="From:" #q17 (keyup)="answers.q17 = q17.value"></textarea>
		<textarea placeholder="To:" #q18 (keyup)="answers.q18 = q18.value"></textarea>
	</div>
	<br>
</mat-card>

<div id="sp"></div>

<mat-card class=card>
	<mat-card-title>
		Section 4
	</mat-card-title>
	<mat-card-subtitle>
		Couching Session
	</mat-card-subtitle>
	<mat-card>
		What results do you want to take away from todays session?
		<textarea placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
		#q19 (keyup)="answers.q19 = q19.value"></textarea>
	</mat-card>
	<br>
	<mat-card>
		Couching Content:
		<textarea placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
		#q20 (keyup)="answers.q20 = q20.value"></textarea>
	</mat-card>
	<br>
</mat-card>
<div id="sp"></div>

<mat-card class=card>
	<mat-card-title>
		Section 5
	</mat-card-title>
	<mat-card-subtitle>
		Assignments & Commitments
		<br>
		Assignments/Commitments should be IMT and 20% out of the comfort zone
	</mat-card-subtitle>
	<mat-card>
		Creation Question:
		<textarea placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
		#q21 (keyup)="answers.q21 = q21.value"></textarea>
	</mat-card>
	<br>
	<mat-card>
		Support for the Mind:
		<textarea placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
		#q22 (keyup)="answers.q22 = q22.value"></textarea>
	</mat-card>
	<br>
	<mat-card>
		Support for the Body:
		<textarea placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
		#q23 (keyup)="answers.q23 = q23.value"></textarea>
	</mat-card>
	<br>
	<mat-card>
		Top Priority:
		<textarea placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
		#q24 (keyup)="answers.q24 = q24.value"></textarea>
	</mat-card>
	<br>
	<mat-card>
		Personal Promise:
		<textarea placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
		#q25 (keyup)="answers.q25 = q25.value"></textarea>
	</mat-card>
	<br>
</mat-card>

<div id="sp"></div>

<mat-card class=card>
	<mat-card-title>
		Finilise & Submit
	</mat-card-title>
	<mat-card-subtitle>
		Review your info then submit
	</mat-card-subtitle>
	<br>
	<mat-card>
		Is there anything you'd like your coach to hold you accountable for?
		<textarea placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
		#q26 (keyup)="answers.q26 = q26.value"></textarea>
	</mat-card>
	<br>
	<a class="btn btn-primary" (click)="dis(); submit();">
		Submit
	</a>
</mat-card>

<div id=sp-50></div>
