<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-12">
					<div class="tab">
						<button class="tablinks" (click)="Users.style.display = 'block'; Invite.style.display = 'none'; Quote.style.display = 'none'; LCentre.style.display = 'none';">Users</button>
						<button class="tablinks" (click)="Users.style.display = 'none'; Invite.style.display = 'block'; Quote.style.display = 'none'; LCentre.style.display = 'none';">Invite</button>
						<button class="tablinks" (click)="Users.style.display = 'none'; Invite.style.display = 'none'; Quote.style.display = 'block'; LCentre.style.display = 'none';">Quotes</button>
						<button class="tablinks" (click)="Users.style.display = 'none'; Invite.style.display = 'none'; Quote.style.display = 'none'; LCentre.style.display = 'block';">Learning
							Centre</button>
					</div>
				</div>
				<div class="col-12">
					<div class="tabcontent" #Users style="display: block;">
						<app-users></app-users>
					</div>

				</div>
			</div>
			<div class="tabcontent" #Invite>
				<app-invite></app-invite>
			</div>

			<div class="tabcontent" #Quote>
				<app-quotes></app-quotes>
			</div>

			<div class="tabcontent" #LCentre>
				<app-lcentre></app-lcentre>
			</div>
		</div>
	</div>
</div>
<div id="sp-50"></div>