/* textarea{  
	display: block;
	text-align: left;
	margin: 50px auto;
	font-size: auto;
	border-radius: 6px;
	box-shadow: 2px 2px 8px rgba(black, .3);
	border: 2;
	white-space: nowrap;
} */
/* 	
mat-card:not([class*=mat-elevation-z]) {
	box-shadow: none;
}

mat-card {
	background-color: transparent;
	box-shadow: none;
} */
/* 	
.example-form {
	display: block;
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 100%;
} */
