<div class="card">
	<div class="zoom" (click)="displayAddNewNoteForm = !displayAddNewNoteForm;">
		<a class="icon">
			<i class="material-icons md-36">add_circle_outline</i>
		</a>
	</div>
	<strong>New Note</strong>
	<div *ngIf="displayAddNewNoteForm" class="card">

		<mat-form-field style="background: white;">
			<textarea #note matInput [formControl]="noteMinLengthFormControl" [errorStateMatcher]="matcher" cdkTextareaAutosize
			 #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"></textarea>
			<br>
			<mat-hint align="start">Don't disclose personal info</mat-hint>
			<br>
			<mat-error *ngIf="noteMinLengthFormControl.errors?.minlength" style="color: red;">
				Note too short!
			</mat-error>
		</mat-form-field>
		<br>
		<button class="btn-primary" (click)="addNote(note.value)">Add Note</button>

	</div>
</div>

<div *ngIf="((notes | async)?.data)">
	<mat-list *ngFor="let note of ((notes | async)?.data).slice().reverse()">
		<div class="card">
			<textarea [(ngModel)]="note.note" [readonly]="!note.editing" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2">
				 {{note.note}}</textarea>
			<button class="btn-primary" (click)="note.editing = true" [hidden]='note.editing'>Edit</button>
			<button class="btn-primary" (click)="note.editing = !note.editing; editNote(note.note, note.note_id)" [hidden]='!note.editing'>Save</button>
			<button class="btn-primary" (click)="note.editing = false" [hidden]='!note.editing'>Cancel</button>
			<button class="btn-primary" (click)="removeNote(note.note_id)">Remove</button>
		</div>
		<div id="sp-10"></div>
	</mat-list>
</div>