<div class="card " style="max-width:500px; margin:auto">

	<form style="max-width:500px; margin:auto">
		<br>
		<img src="../../assets/sdp/logo/smile-logo-trans-big.png" style="width:100%;">
		<br>
		<br>


		<div *ngIf="userGroupId != 1">
			<div class="input-container">
				<i class="fa fa-envelope icon"></i>
				<input #Name class="input-field" placeholder="Name" required>
			</div>

			<div class="input-container">
				<i class="fa fa-envelope icon"></i>
				<input #Surname class="input-field" placeholder="Surname" required>
			</div>
		</div>

		<div *ngIf="userGroupId == 1">
			<div class="input-container">
				<i class="fa fa-envelope icon"></i>
				<input #Name class="input-field" placeholder="Company name" required>
			</div>
		</div>

		<div class="input-container">
			<i class="fa fa-envelope icon"></i>
			<input #Phone class="input-field" placeholder="Phone number" required>
		</div>

		<div class="input-container">
			<i class="fa fa-key icon"></i>
			<input #passwordText class="input-field" type="password" placeholder="Password" name="psw" required>
		</div>
		<div class="input-container">
			<i class="fa fa-key icon"></i>
			<input #passwordText class="input-field" type="password" placeholder="Comfirm password" name="psw" required>
		</div>
		<div *ngIf="error">
			<mat-error>{{error}}</mat-error>
		</div>
		<button type="submit" class="btn">Register</button>

	</form>
	<br>
	<br>
</div>