<div class="card " style="max-width:500px; margin:auto">

	<div style="max-width:500px; margin:auto">
		<br>
		<img src="../../assets/sdp/logo/smile-logo-trans-big.png" style="width:100%;">
		<br>
		<br>


		<div *ngIf="signUpReturn?.user_group_id != 1 || 1 == 1">
			<div class="input-container">
				<i class="fa fa-envelope icon"></i>
				<input #Name (keyup)="name = Name.value; isValid();"
				 class="input-field" placeholder="Name">
			</div>

			<div class="input-container">
				<i class="fa fa-envelope icon"></i>
				<input #Surname (keyup)="surname = Surname.value; isValid();" class="input-field"
				 placeholder="Surname" required>
			</div>

		</div>

		<div *ngIf="signUpReturn?.user_group_id == 1 || 1 == 1">
			<div class="input-container">
				<i class="fa fa-envelope icon"></i>
				<input #Name (keyup)="name = Name.value; isValid();" class="input-field" placeholder="Company name"
				 required>
			</div>
		</div>

		<div class="input-container">
			<i class="fa fa-envelope icon"></i>
			<input #Phone (keyup)="phone = Phone.value; isValid();" class="input-field" placeholder="Phone number"
			 required>
		</div>

		<div class="input-container">
			<i class="fa fa-key icon"></i>
			<input #Password (keyup)="pswd = Password.value; isValid();" class="input-field" type="password" placeholder="Password"
			 name="psw">
		</div>

		<div class="input-container">
			<i class="fa fa-key icon"></i>
			<input #Password2 (keyup)="pswd2 = Password2.value; isValid();" class="input-field" type="password" placeholder="Comfirm password"
			 name="psw" required>
		</div>
		<mat-error>{{error}}</mat-error>

		<button [disabled]="!isValid()" type="submit" class="btn" (click)="signup()">Register</button>

	</div>
	<br>
	<br>
</div>