<h2>Invite a new person to use Smile!</h2>
<p>
	Use thier email address
</p>
<input #Email placeholder="Email">
<mat-form-field>
	<span>What type of account</span>
	<select matNativeControl required #Drop>
		<option value="Individual">Individual</option>
		<option value="Business">Business</option>
		<option value="Administrator">Administrator</option>
	</select>
</mat-form-field>
<button (click)="invite(Email.value, Drop.selectedIndex); Email.value = ''; sent = true">Send</button>
<h2 *ngIf="sent">Invite sent!</h2>
