<div class="bg-image"></div>

<div id="sticky" *ngIf="api.isLoggedIn()">
	<div class="topnav g-grd">
		<a [ngClass]="{'button': true, 'active': page == 'home' }" (click)="openPage('home'); page = 'home';">
			<mat-icon>home</mat-icon>
			Home
		</a>
		<a [ngClass]="{'button': true, 'active': page == 'goals' }" (click)="openPage('goals'); page = 'goals';">
			<mat-icon navbar>star</mat-icon>
			Goals
		</a>
		<a [ngClass]="{'button': true, 'active': page == 'notes' }" (click)="openPage('notes'); page = 'notes';">
			<mat-icon navbar>event_note</mat-icon>
			Notes
		</a>
		<a [ngClass]="{'button': true, 'active': page == 'learn' }" (click)="openPage('learn'); page = 'learn';">
			<mat-icon navbar>school</mat-icon>
			Learn
		</a>

		<div class="topnav-right">
			<a (click)="openPage('profile')" class="button">
				<mat-icon navbar>face</mat-icon>
				{{(user | async)?.data.first_name}}
			</a>

			<button mat-icon-button [matMenuTriggerFor]="menu" style="background: white; margin: 5px;">
				<mat-icon navbar matBadge="4" matBadgeColor="warn">notifications</mat-icon>
			</button>
			<button mat-icon-button [matMenuTriggerFor]="menu" style="background: white; margin: 5px;">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item>
					<mat-icon>settings</mat-icon>
					<span>Settings</span>
				</button>
				<button mat-menu-item disabled>
					<mat-icon>event_note</mat-icon>
					<span>About</span>
				</button>
				<button mat-menu-item>
					<mat-icon>account_box</mat-icon>
					<span (click)="openPage('login'); logout()">Log Out</span>
				</button>
			</mat-menu>
		</div>

		<div>
			<a *ngIf="quote" class="button" (click)="newMessage()" style="    width: 100%; background: lime;right: 0; font-size: 24px;">
				{{(motivMess | async)?.description}}
			</a>
			<br>
			<button class="btn-primary" style="width: 100%;" (click)="quote = !quote"><mat-icon>expand_more</mat-icon></button>
		</div>


	</div>


</div>

<div id="sp-50"></div>
<router-outlet></router-outlet>

<div id="sp"></div>