<div [ngClass]="{'card': true, 'col-12': true, 'row': true }" style="z-index: 20">
		<br>
		<h2>Create a new goal!</h2>
		<br>
	
		<div [ngClass]="{'card': innerWidth > 750, 'col-12': true}">
			<br>
			<div class=col-12>
	
				<div class=row>
					<span class="col" style="top: 20px">Parent Goal:</span>
					<mat-form-field class="col">
						<mat-select matNativeControl required [(value)]="parent" [ngModel]="parent" (ngModelChange)="goal_create.parent_goal_id = getNum(parent); log(goal_create.parent_goal_id)">
							<mat-option>None</mat-option>
							<mat-option *ngFor="let goal of getGoals()" [value]="goal.info.goal_id">{{goal.info.goal_title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<br>
				<div class="row">
					<span class="col">Title:</span>
					<input class="col" required #Title (keyup)="goal_create.goal_title = Title.value">
				</div>
				<br>
				<div class=row>
					<span class="col">Goal description:</span>
					<textarea class="col" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" #Disc (keyup)="goal_create.goal_description = Disc.value"></textarea>
				</div>
			</div>
			<br>
			<div class=row>
				<div class=col>
					<div class=col-12>
						<div lass=row>
							<mat-checkbox class=row checked=false #All (click)="goal_create.is_full_day = All.checked">All day</mat-checkbox>
							<mat-checkbox class=row checked=false #Rec (click)="goal_create.is_recurring = Rec.checked">Recuring</mat-checkbox>
						</div>
						<div class=row>
							<span>Challenge level:</span>
							<mat-slider thumbLabel tickInterval="1" min="1" max="10" #Lvl (click)="goal_create.difficulty = Lvl.value"></mat-slider>
						</div>
						<div class=row>
							<span class=col style="top: 20px">When to do?:</span>
							<mat-form-field>
								<select matNativeControl required #Connor (click)="goal_create.recurring_type = Connor.options[Connor.selectedIndex].text">
									<option value="Daily">Daily</option>
									<option value="Weekly">Weekly</option>
									<option value="Monthly">Monthly</option>
									<option value="Yearly">Yearly</option>
								</select>
							</mat-form-field>
						</div>
					</div>
				</div>
	
				<div class=col>
					<div class=col-12>
	
						<div class=row>
							<span class=col> Start: </span>
							
							<dp-date-picker class=col #Conner2 (click)="log(calcDate(Conner2.inputElementValue))" [(ngModel)]="date" [ngModel]="Conner2.inputElementValue" (ngModelChange)="goal_create.start_date = calcDate(Conner2.inputElementValue)"></dp-date-picker>
						</div>
						<div class=row>
							<span class=col>End:</span>
							<dp-date-picker class=col #Conner3 [(ngModel)]="date1" [ngModel]="Conner3.inputElementValue" (ngModelChange)="goal_create.end_date = calcDate(Conner3.inputElementValue)"></dp-date-picker>
						</div>
						<div class=row>
							<span class=col>Start time:</span>
							<dp-date-picker class=col [mode]="'time'" #Conner4 [(ngModel)]="date2" [ngModel]="Conner4.inputElementValue" (ngModelChange)="goal_create.start_time = Conner4.inputElementValue"></dp-date-picker>
						</div>
						<div class=row>
							<span class=col>End time: </span>
							<dp-date-picker class=col [mode]="'time'" #Conner5 [(ngModel)]="date3" [ngModel]="Conner5.inputElementValue" (ngModelChange)="goal_create.end_time = Conner5.inputElementValue"></dp-date-picker>
						</div>
						<br>
						<div class="row">
							<span class="col">Offset:</span>
							<input class="col" matInput [type]="'number'" #Conner6 (keyup)="goal_create.separation_count = Conner6.value" [value]=0 min="1" style="background: white;" required>
						</div>
						<br>
						<div class="row">
							<span class="col">Max Occurrence:</span>
							<input class="col" matInput [type]="'number'" #Conner7 (keyup)="goal_create.max_occurrence = Conner7.value" [value]=0 min="1" style="background: white;" required>
						</div>
	
					</div>
				</div>
	
			</div>
		</div>
	
		<div *ngIf="error">
			<mat-error>{{error}}</mat-error>
		</div>
		<button type="submit" class="btn" (click)="addGoal()">Create Goal</button>
	
		<br>
		<br>
	</div>