<div class="card">
	<h2>Check-in questions</h2>
	<textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" placeholder="Note" (click)="newMessage()">{{message}}</textarea>
	<button class="btn-primary">Add Note</button>
	<a matRipple (click)="router.navigateByUrl('checkin')" class="btn btn-primary">Check-in</a>
</div>
<div id="sp-10"></div>
<h2 class="card">Performance</h2>
<app-graph></app-graph>
<div id="sp-10"></div>
<div class='card'>
	<a matRipple (click)="router.navigateByUrl('admin')" class="btn btn-primary">Check-in</a>
	<button (click)="da('a')">Date</button>
	<p>
		<ngb-progressbar type="success" [value]="25"></ngb-progressbar>
	</p>
	<p>
		<ngb-progressbar value="500" type="info"></ngb-progressbar>
	</p>
</div>
<div id="sp-10"></div>
<h2 class="card">Todays Activity</h2>
<div id="sp-10"></div>
<h2 class="card">Last Accomplished Achievement</h2>
<div id="sp-10"></div>
<h2 class="card">Last Accomplished Goal</h2>
<div id="sp-50"></div>